// BACKGROUND IMAGE
// -------------------------

.front {
	.image-wrapper {
		background: url("../images/slideshow/1.jpg") no-repeat;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;
		color: $dark-gray;
	}
}

// HOME PAGE CONTENT
// -------------------------

.intro-text {
	@include make-sm-column(6);
	p {
		background: rgba(61, 61, 61, 0.9);
		padding: 30px;
		color: white;
		font-size: 18px;
	}
}
.home-menu {
	@include make-sm-column(6);
	.nav {
		float: right;
		li {
			margin-bottom: .25em;
			font-size: 18px;
			float: left;
			margin-right: .25em;
		}
		a {
			background: $orange;
			color: white;
			display: inline-block;
			text-decoration: none;
			padding: 0 15px;
		}
		a:hover {
			background: white;
			color: $dark-gray;
		}
	}
}
.jumbotron {
	background: none;
	padding-top: 30px;
}

// MAIN CONTENT
// -------------------------
.main-content {
	background: white;
	padding: 40px 0 60px 0;
}

// BRANDING and NAV
// -------------------------
.brand {
	@include make-md-column(6);
}
.navigation {
	@include make-md-column(6);
}

// WORKS GRID PAGES
// -------------------------
.work {
	text-align: center;
	margin-bottom: 2em;
	img {
		max-width: 100%;
		height: auto;
	}
	.title {
		font-size: 16px;
		margin-top: .5em;
	}
	.date-display-single {
		font-size: 14px;
		color: $medium-gray;
	}
}

// INDIVIDUAL WORK PAGE
// -------------------------
.access {
	@include make-sm-column(4);
	text-align: center;
	img {
		margin-bottom: 2em;
		max-width: 100%;
		height: auto;
	}
	.btn {
		white-space: normal;
		margin: 0 1em .5em 1em;
		font-size: 16px;
	}
}
.work-data {
	@include make-md-column(8);
	dt {
		text-transform: uppercase;
		font-size: 12px;
		color: #666;
		font-weight: normal;
	}
	dd {
		font-size: 16px;
		margin-bottom: .5em;
	}
	h2 {
		font-size: 14px;
		text-transform: uppercase;
	}
	p {
		font-size: 16px;
	}
}

// FOOTER and SUBFOOTER
// -------------------------
footer {
	padding: 1em 0 2em 0;
	p {
		font-size: 14px;
	}
	.nav {
		margin-bottom: 1em;
		li {
			font-size: 14px;
			padding: .5em 0;
		}
	}
	a {
		color: $dark-gray;
	}
	a:hover {
		background: inherit;
		text-decoration: underline;
		color: black;
	}
	.nav > li > a {
		padding: 0;
		color: $dark-gray;
		padding: 0;
	}
	.nav > li > a:hover {
		background: inherit;
		text-decoration: underline;
		color: black;
	}

}
.subfooter {
	.container {
		background: rgba(61, 61, 61, 0.9);
	}
	p {
		padding: 30px;
		color: white;
		font-size: 16px;
		text-align: center;
	}
}

// MEDIA QUERIES
// -------------------------

	// /* Extra small devices (phones, up to 480px) */
	// /* No media query since this is the default in Bootstrap */

	// /* Small devices (tablets, 768px and up) */
	// @media (min-width: @screen-sm) { ... }

	// /* Medium devices (desktops, 992px and up) */
	// @media (min-width: @screen-md) { ... }

	// /* Large devices (large desktops, 1200px and up) */
	// @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
	.image-wrapper {
		background: url("../images/slideshow/1.jpg") no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		color: $dark-gray;
	}
	.jumbotron {
		padding-top: 100px;
	}
	.home-menu {
		text-align: right;
		.nav {
			width: 50%;
			li {
				float: none;
				margin-right: 0;
				font-size: 22px;
			}
		}
	}
	footer {
		.nav {
			li {
				padding: .5em 1em;
				border-left: 1px solid $pale-gray;
			}
			li:first-child {
				padding-left: 0;
				border-left: 0;
			}
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
	.front {
		.image-wrapper {
			min-height: 800px;
		}
	}
}