// Cornell brand
// -------------------------
$cornell-red: #b31b1b;
$cornell-red-hover: #990f26;
$cornell-font: verdana, sans-serif;
$cornell-blue: #6eb4cd;
$cornell-blue-border: #4892ac;
$cornell-medium-blue: #0068ac;
$cornell-process-blue: #0093d0;
$cornell-khaki: #998c7c;
$cornell-gray: #4d4e53;

// Other colors
// -------------------------

$dark-gray: #3d3d3d;
$medium-gray: #999;
$light-gray: #c3c3c3;
$pale-gray: #e1e1e1;
$ice-blue: #05b7c7;
$light-ice-blue: #abe4e9;
$dark-ice-blue: #049dab;

$orange: #dc4516;


// Bootstrap overrides
// -------------------------

$font-family-sans-serif:  'Hind', sans-serif;        @import
url(//fonts.googleapis.com/css?family=Hind:300,700,400);
